.ftitle{
	font-size:14px;
	font-weight:bold;
	padding:5px 0;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}
.fitem{
	margin-left:25px;
	margin-bottom:5px;
	text-align:left;
}
.fitem label{
	display:inline-block;
	width:200px;
	padding:0px 0px 0px 25px;
}
.fitem input{
	width:160px;
}