@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

.l-btn{
    vertical-align:middle;
}
.button-sep{
    display:inline-block;
    width:0;
    height:22px;
    border-left:1px solid #ccc;
    border-right:1px solid #fff;
    vertical-align:middle;
}

/*ICONS*/
.icon-asc{
    background:url('../images/sort_ascending.png') no-repeat center center;   
}

.icon-desc{
    background:url('../images/sort_descending.png') no-repeat center center;   
}

.icon-columns{
    background:url('../images/table_columns_insert_left.png') no-repeat center center;
}

.icon-checked{
    background:url('../images/check_box.png') no-repeat center center;
}

.icon-unchecked{
    background:url('../images/check_box_uncheck.png') no-repeat center center;
}

.icon-filter{
    background:url('../images/filter.png') no-repeat center center;
}

.icon-ubicaciones{
    background:url('../images/world.png') no-repeat center center;
}

.icon-identificacion{
    background:url('../images/eye.png') no-repeat center center;
}

.icon-consulta{
    background:url('../images/find.png') no-repeat center center;
}

.icon-clasificacion{
    background:url('../images/star.png') no-repeat center center;
}

.icon-fotos{
    background:url('../images/picture.png') no-repeat center center;
}

.icon-videos{
    background:url('../images/film.png') no-repeat center center;
}
.icon-save{
    background:url('../images/database_save.png') no-repeat center center; 
}
.icon-limpiar{
    background:url('../images/draw_eraser.png') no-repeat center center;
}
.icon-mapa{
    background:url('../images/map.png') no-repeat center center; 
}
.icon-zoom{
    background:url('../images/magnifier_zoom_in.png') no-repeat center center;   
}






.icon-galleta{
    background:url('../images/cookie_chocolate.png') no-repeat center center;
}

.icon-acerca{
	background:url('../images/information.png') no-repeat center center;	
}

.icon-online{
	background:url('../images/status_online.png') no-repeat center center;	
}

.icon-offline{
	background:url('../images/status_offline.png') no-repeat center center;	
}

.icon-disconnect{
	background:url('../images/disconnect.png') no-repeat center center;	
}

.icon-clearFilter{
    background:url('../images/filter_clear.png') no-repeat center center; 
}

.icon-add{
    background:url('../images/add.png') no-repeat center center; 
}

.icon-edit{
    background:url('../images/pencil.png') no-repeat center center; 
}

.icon-export{
    background:url('../images/table_export.png') no-repeat center center; 
}

.icon-downloads{
    background:url('../images/download_cloud.png') no-repeat center center; 
}

.icon-exportToExcel{
    background:url('../images/excel_exports.png') no-repeat center center; 
}

.icon-exportShapefile{
    background:url('../images/map.png') no-repeat center center; 
}

.icon-exportZip{
    background:url('../images/file_extension_hqx.png') no-repeat center center; 
}

.icon-clear{
    background:url('../images/draw_eraser.png') no-repeat center center; 
}

.icon-time{
    background:url('../images/clock_15.png') no-repeat center center; 
}

.icon-success{
    background:url('../images/tick_circle_frame.png') no-repeat center center; 
}



.icon-cancel{
    background:url('../images/cancel.png') no-repeat center center; 
}

.icon-reload{
    background:url('../images/update.png') no-repeat center center; 
}

.icon-delete{
    background:url('../images/delete.png') no-repeat center center; 
}

.icon-woSpecies{
    background:url('../images/prohibition_button.png') no-repeat center center; 
}

.icon-pdf{
    background:url('../images/file_extension_pdf.png') no-repeat center center; 
}

.icon-docx{
    background:url('../images/file_extension_doc.png') no-repeat center center; 
}


.icon-tabla{
	background:url('../images/table.png') no-repeat center center; 
}


.icon-destacada{
    background:url('../images/award_star_gold_red.png') no-repeat center center; 
}

.icon-nodestacada{
    background:url('../images/award_star_silver_blue.png') no-repeat center center; 
}

.icon-identificar{
    background:url('../images/toucan.png') no-repeat center center; 
}

.icon-aceptar{
    background:url('../images/tick.png') no-repeat center center;
}

.icon-especienoidentificada{
    background:url('../images/help.png') no-repeat center center;
}

.icon-daterange{
    background:url('../images/dateRange.png') no-repeat center center;
}

.icon-equal{
    background:url('../images/equal.png') no-repeat center center;
}

.icon-less{
    background:url('../images/less.png') no-repeat center center;
}

.icon-greater{
    background:url('../images/greater.png') no-repeat center center;
}